<form (ngSubmit)="submit()">
  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" name="type" class="form-control" [(ngModel)]="municipalite.typeContenu">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" [(ngModel)]="municipalite.description">
  </div>

  <div class="form-group">
    <label for="dateAjout">Date-ajout</label>
    <input type="date" name="dateAjout" class="form-control" [(ngModel)]="municipalite.dateAjout">
  </div>

  <div class="form-group">
    <label for="url">Url</label>
    <input type="text" name="url" class="form-control" [(ngModel)]="municipalite.urlContenu">
  </div>

  <button class="btn btn-success btn-sm mt-4">
    {{ isEditMode ? 'Changer' : 'Ajouter' }}
  </button>
</form>

